[Unit]
Description=Fetch news headlines every six hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
RandomizedDelaySec=5m
Persistent=true
Unit=headliner.service

[Install]
WantedBy=timers.target
